{% extends "global/base.html" %}

{% block content %}
<div class="form-wrapper">
    <h2>Contact</h2>
  
    <form 
        action="{% url "contact:create" %}"
        method="POST"
        enctype="multipart/form-data"
    > <!--para dados sensíveis e ou para enviar imagens utiliazar sempre o method post-->
    <!--para formulários que forem enviar arquivos usar o enctype-->
    {% csrf_token %} <!--garante que os dados que vão para a view são os que vem do meu formulário-->
    <div class="form-content">
        <div class="form-group">
            <label for="id_first_name">first_name</label>
            <input type="text" name="first_name" maxlength="255" id="id_first_name">
        </div>
        <div class="form-group">
            <label for="id_last_name">last_name</label>
            <input type="text" name="last_name" maxlength="255" id="id_first_name">
        </div>
    </div>
        <div class="form-content">
            <div class="form-group">
                <button class="btn" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}